<h2>Create your campaign</h2>

<ol class="nav nav-justified nav-wizard">
  <li><a href="#/video">Video</a></li>
  <li><a href="#/details">Details</a></li>
  <li class="active"><a href="#/review">Review</a></li>
</ol>

<div class="row row-padded">
  <div class="col-md-8 col-md-offset-2">
    <img src="img/yt_thumbnail.png" class="pull-right" />
    <span class="pull-left text-muted">We're almost ready to Tuberade your video</span>
    <h4 class="pull-right">Rob the "Sex Clown"</h4>
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-8 col-md-offset-2">
    <span class="pull-left text-muted">Your campaign will run</span>
    <h4 class="pull-right">April 20 through April 27</h4>
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-8 col-md-offset-2">
    <span class="pull-left text-muted">You've set your budget at</span>
    <h4 class="pull-right">$1000</h4>
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-8 col-md-offset-2">
    <span class="pull-left text-muted">We will charge this amount to your</span>
    <h4 class="pull-right">AmEx ending in 6119</h4>
  </div>
</div>

<div class="row row-padded">
  <div class="col-md-4 col-md-offset-4 text-center">
    <a href="#/comfirmation" class="btn btn-lg btn-primary" role="button">Let's Tuberade</a>
  </div>
</div>
<div class="row row-padded">
  <div class="col-md-4 col-md-offset-4 text-center">
    <a href="#/details" class="text-muted">Wait, go back</a>
  </div>
</div>