<h2>Create your campaign</h2>

<ol class="nav nav-justified nav-wizard">
  <li class="active"><a href="#/video">Video</a></li>
  <li><a href="#/details">Details</a></li>
  <li><a href="#/review">Review</a></li>
</ol>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form role="form">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Video Name or URL" />
      </div>

      <div class="form-group">
        <div class="media">
          <a href="#" class="pull-left"><img src="img/yt_thumbnail.png" class="media-object" /></a>
          <div class="media-body">
            <h4 class="media-heading">Rob the "Sex Clown"</h4>
            iPhone leggings butcher post-ironic keffiyeh. +1 trust fund swag Etsy gastropub. Literally Etsy kale chips, leggings paleo try-hard cray PBR&B narwhal ethical twee.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-8">
    <a href="#/details" class="btn btn-lg btn-primary pull-right" role="button">Continue</a>
  </div>
</div>