<h2>Create your campaign</h2>

<ol class="breadcrumb">
  <li class="active">Video</li>
  <li><a href="#">Details</a></li>
  <li><a href="#">Review</a></li>
</ol>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form role="form">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Video Name or URL" />
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-8">
    <a href="#/details" class="btn btn-lg btn-primary pull-right" role="button">Continue</a>
  </div>
</div>